html {
  background-color: #77275b;
  background-repeat: repeat-x;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #39132c), color-stop(50%, #77275b), color-stop(100%, #39132c));
  background: -webkit-linear-gradient(0 50%, #39132c 0%, #77275b 50%, #39132c 100%);
  background: -moz-linear-gradient(0 50%, #39132c 0%, #77275b 50%, #39132c 100%);
  background: -o-linear-gradient(0 50%, #39132c 0%, #77275b 50%, #39132c 100%);
  background: -ms-linear-gradient(0 50%, #39132c 0%, #77275b 50%, #39132c 100%);
  background: linear-gradient(0 50%, #39132c 0%, #77275b 50%, #39132c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#39132c', endColorstr='#77275b', GradientType=0);
  color: white;
}
.grid {
  background: white;
  color: #444444;
}
.grid p {
  border: 1px solid #afc7e4;
  margin: .25em 0px;
  padding: .25em 0px;
  text-align: center;
}
