@import "grids";

html {
    background: #3d142f;
    color: white;
}

section {

    article {
    }
}

.grid {
    background: white;
    background-position: 10px 0px;
    color: #444444;
}
    .grid p {
        border: 1px solid #afc7e4;
        margin: .25em 0px;
        padding: .25em 0px;
        text-align: center;
    }