@import "helpers";

@bg: #3d142f;

html {
    .gradient-reflected(darken(@bg, 1%), lighten(@bg, 15%));
    color: white;
}

.grid {
    background: white;
    color: #444444;
}
    .grid p {
        border: 1px solid #afc7e4;
        margin: .25em 0px;
        padding: .25em 0px;
        text-align: center;
    }